:host {
  display: block;
  width: 50%;
  margin: auto;
}

form {
  display: flex;
  flex-direction: column;
  margin-top: 60px;
  gap: 20px
}

button {
  margin-top: 20px;
}

a {
  margin-top: 20px;
}
