<ng-container *transloco="let t; read: 'loginForm'">
    <form
        [formGroup]="form"
    >
        <label> {{t('name')}} </label>
        <input
            formControlName="name"
            type="text"
        >
        <!-- <label> {{t('email')}} </label>
        <input
            formControlName="name"
            type="email"
        > -->
        <label> {{t('password')}} </label>
        <input
            formControlName="password"
            type="password"
        >
        <button (click)="register()">
            {{ t('register') }}
        </button>
        <a href="auth/login">
            {{ t('loginLink') }}
        </a>
    </form>
</ng-container>