<ng-container *transloco="let t">
  <div class="left">
    @if (isUserLogged | async) {
      <h2 class="title">
        {{ t('logged') }} {{ role | async }}
      </h2>
    } @else {
      <h2 class="title"> {{ t('notLogged') }} </h2>
    }
  </div>
  <div class="buttons">
    <button class="btn btn-outline-secondary" (click)="changeLanguage()">
      {{ t('language') }}
    </button>
    <button class="btn btn-outline-secondary" (click)="changeTheme()">
      {{ t('theme') }}
    </button>
    @if (isUserLogged | async) {
      <button class="btn btn-danger" (click)="logout()">
        {{ t('logout') }}
      </button>
    }
  </div>
</ng-container>
