:host {
  display: block;
}

.container {
  padding: 60px;
  align-items: center;
  text-align: center;
  width: 60%;
  margin: auto;
}


.movie__table {
  margin: 5%;
  width: 90%;
  font-size: 18px;
}

td, th {
  padding: 5px;
}

.add__cell {
  padding: 0;
}

.add {
  width: 100%;
}