<ng-container *transloco="let t; read: 'displayDirectors'">
  <div class="container">
    <div
      class="director__wrapper"
    >
    <div class="actions">
      <div class="search">
        <input
          matInput
          class="form-control"
          name="search"
          [(ngModel)]="search"
        >
        <button class="btn btn-primary" (click)="getFilteredDirectors()">
          <span class="material-symbols-outlined">
            search
            </span>
        </button>
      </div>
      <div class="paginator">
        <button class="btn btn-primary" (click)="getPreviousDirectors()" [disabled]="page === 1">
          <span class="material-symbols-outlined">
            arrow_back
          </span>
        </button>
        {{ page }} / {{ allPages }}
        <button class="btn btn-primary" (click)="getNextDirectors()" [disabled]="page === allPages">
          <span class="material-symbols-outlined">
            arrow_forward
          </span>
        </button>
      </div>
      <div *ngIf="filtered" class="show__all">
        <button class="btn btn-primary" (click)="getDirectors()">
          {{t('showAll')}}
        </button>
      </div>
    </div>
      @for (director of directors; track $index)
      {
        <div class="card mb-4">
          <div class="card-body">
            <h5 class="card-title">
              {{t('name')}} {{ director.name }}
            </h5>
            <p class="card-text">
              {{t('nationality')}} {{ director.nationality }}
            </p>
            <p class="card-text">
              {{t('age')}} {{ director.age }}
            </p>
          </div>
        </div>
      }
    </div>
  </div>
</ng-container>
