<div class="container">
    <button mat-button (click)="getDirectors()" *ngIf="!show">Pokaż reżyserów</button>
    <button mat-button (click)="hideDirectors()" *ngIf="show">Schowaj reżyserów</button>
    <div
      *ngIf="show"
      class="director__wrapper"
    >
    <div class="actions">
      <div class="search">
          <input
            matInput
            name="search"
            [(ngModel)]="search"
          >
          <button mat-sdivoked-button (click)="getFilteredDirectors()">
            <span class="material-symbols-outlined">
              search
              </span>
          </button>
        </div>
      <div class="paginator">
        <button (click)="getPreviousDirectors()" [disabled]="page === 1">
          <span class="material-symbols-outlined">
            arrow_back
          </span>
        </button>
        {{ page }} / {{ allPages }}
        <button (click)="getNextDirectors()" [disabled]="page === allPages">
          <span class="material-symbols-outlined">
            arrow_forward
          </span>
        </button>
      </div>
      <div *ngIf="filtered" class="show__all">
        <button mat-button (click)="getDirectors()">
          Wyświetl wszystkich
        </button>
      </div>
    </div>
      @for (director of directors; track $index) 
      {
        <div
          class="director"
        >
          <span class="info">
            Imię: {{ director.name }}
          </span> 
          <span>
            Narodowość: {{ director.nationality }} 
          </span>
          <span>
            Wiek: {{ director.age }} 
          </span>
        </div>
      } 
    </div>
  </div>