<div class="container">
    <button mat-button (click)="getDirectors()" *ngIf="!show">Pokaż reżyserów</button>
    <button mat-button (click)="hideDirectors()" *ngIf="show">Schowaj reżyserów</button>
    <table
      *ngIf="show"
      class="movie__table"
      border="1px solid black"
    >
      <tr>
        <th>Imię i nazwisko</th>
        <th>Narodowość</th>
        <th>Wiek</th>
        <th>
          <form (submit)="getFilteredDirectors()">
            <input
              matInput
              name="search"
              [(ngModel)]="search"
            >
            <button mat-stroked-button type="submit">
              <mat-icon>
                search
              </mat-icon>
            </button>
          </form>
        </th>
      </tr>
      @for (director of directors | async; track $index) 
      {
        <tr
          class="data__row"
        >
          <td> {{ director.name }} </td>
          <td> {{ director.nationality }} </td>
          <td> {{ director.age }} </td>
          <td>
            <button mat-button (click)="updateDirector(director.id, $index)">
              <mat-icon>
                edit
              </mat-icon>
            </button>
            <button mat-button (click)="deleteDirector(director.id, $index)">
              <mat-icon>
                delete
              </mat-icon>
            </button>
          </td>
        </tr>
      } 
      <tr class="last__row">
        <td class="add__cell">
          <button mat-button (click)="addDirector()" class="add">
            <mat-icon>
              add
            </mat-icon>
          </button>
        </td>
        <td *ngIf="filtered">
          <button mat-button (click)="getDirectors()">
            Wyświetl wszystkich
          </button>
        </td>
      </tr>
    </table>
  </div>