<script src="https://accounts.google.com/gsi/client" async></script>

<ng-container *transloco="let t; read: 'loginForm'">
    <form
        [formGroup]="form"
    >
      <label> {{t('name')}} </label>
      <input
          formControlName="name"
          type="text"
      >
      <label> {{t('password')}} </label>
      <input
          formControlName="password"
          type="password"
      >
      <button class="btn btn-primary" (click)="login()">
          {{ t('login') }}
      </button>
        <div id="buttonDiv"></div>
      <a href="auth/register">
        {{ t('registerLink') }}
      </a>
    </form>
</ng-container>
