<div class="container">
    <button mat-button (click)="getMovies()" *ngIf="!show">Pokaż listę filmów</button>
    <button mat-button (click)="hideMovies()" *ngIf="show">Schowaj listę filmów</button>
    <div
      *ngIf="show"
      class="movie__wrapper"
    >
    <div class="actions">
      <div class="search">
          <input
            matInput
            name="search"
            [(ngModel)]="search"
          >
          <button mat-sdivoked-button (click)="getFilteredMovies()">
            <span class="material-symbols-outlined">
              search
              </span>
          </button>
        </div>
      <div class="paginator">
        <button (click)="getPreviousMovies()" [disabled]="page === 1">
          <span class="material-symbols-outlined">
            arrow_back
          </span>
        </button>
        {{ page }} / {{ allPages }}
        <button (click)="getNextMovies()" [disabled]="page === allPages">
          <span class="material-symbols-outlined">
            arrow_forward
          </span>
        </button>
      </div>
      <div *ngIf="filtered" class="show__all">
        <button mat-button (click)="getMovies()">
          Wyświetl wszystkich
        </button>
      </div>
      <div class="add">
        <button mat-button (click)="addMovie()" class="add">
          <span class="material-symbols-outlined">
            add
          </span>
        </button>
      </div>
    </div>
      @for (movie of movies; track $index) 
      {
        <div
          class="movie"
        >
          <span class="info">
            Imię: {{ movie.name }}
          </span> 
          <span>
            Reżyser: {{ movie.director.name }}
          </span>
          <span>
            Producent: {{ movie.producer }}
          </span>
          <span>
            Długość: {{ movie.length }}
          </span>
          <span>
            Ocena: {{ movie.rating }}
          </span>
          <button (click)="deleteMovie(movie.id, $index)">
            <span class="material-symbols-outlined">
              delete
            </span>
          </button>
          <button (click)="updateMovie(movie.id)">
            <span class="material-symbols-outlined">
              edit
            </span>
          </button>
        </div>
      } 
    </div>
  </div>