<div class="container">
    <button mat-button (click)="getMovies()" *ngIf="!show">Pokaż listę filmów</button>
    <button mat-button (click)="hideMovies()" *ngIf="show">Schowaj listę filmów</button>
    <table
      *ngIf="show"
      class="movie__table"
      border="1px solid black"
    >
      <tr>
        <th>Tytuł</th>
        <th>Reżyser</th>
        <th>Producent</th>
        <th>Długość</th>
        <th>Ocena</th>
        <th>
            <form (submit)="getFilteredMovies()">
                <input
                    matInput
                    name="search"
                    [(ngModel)]="search"
                >
                <button mat-stroked-button type="submit">
                    <mat-icon>
                        search
                    </mat-icon>
                </button>
            </form>
        </th>
      </tr>
      @for (movie of displayedMovies; track $index) 
      {
        <tr
            class="data__row"
        >
            <td> {{ movie.name }} </td>
            <td> {{ movie.director.name }} </td>
            <td> {{ movie.producer }} </td>
            <td> {{ movie.length }} </td>
            <td> {{ movie.rating }} </td>
            <td>
                <button mat-button (click)="updateMovie(movie.id, $index)">
                    <mat-icon>
                        edit
                    </mat-icon>
                </button>
                <button mat-button (click)="deleteMovie(movie.id, $index)">
                    <mat-icon>
                        delete
                    </mat-icon>
                </button>
            </td>
        </tr>
    }
      <tr class="last__row">
        <td class="add__cell">
          <button mat-button (click)="addMovie()" class="add">
            <mat-icon>
              add
            </mat-icon>
          </button>
        </td>
        <td *ngIf="filtered">
          <button mat-button (click)="getMovies()">
            Wyświetl wszystkie
          </button>
        </td>
      </tr>
    </table>
  </div>